In [12]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
news = [
    'Keluarga Menduga Brigadir J Korban Pembunuhan Berencana, Banyak Kejanggalan, Termasuk Luka Sayatan di Tubuh',
    'Duga Brigadir J Jadi Korban Pembunuhan Berencana, Keluarga Lapor ke Bareskrim Hari Ini',
'Keluarga Menduga Brigadir J Korban Pembunuhan Berencana, Banyak Kejanggalan, Termasuk Luka Sayatan di Tubuh']

In [34]:
vectorizer = CountVectorizer()
result_vectorizer = vectorizer.fit_transform(news)
text_count = vectorizer.get_feature_names()

In [35]:
text_count

['banyak',
 'bareskrim',
 'berencana',
 'brigadir',
 'di',
 'duga',
 'hari',
 'ini',
 'jadi',
 'ke',
 'kejanggalan',
 'keluarga',
 'korban',
 'lapor',
 'luka',
 'menduga',
 'pembunuhan',
 'sayatan',
 'termasuk',
 'tubuh']

In [36]:
cosine = cosine_similarity(result_vectorizer[0:1], result_vectorizer)

In [37]:
print(result_vectorizer.toarray())

[[1 0 1 1 1 0 0 0 0 0 1 1 1 0 1 1 1 1 1 1]
 [0 1 1 1 0 1 1 1 1 1 0 1 1 1 0 0 1 0 0 0]
 [1 0 1 1 1 0 0 0 0 0 1 1 1 0 1 1 1 1 1 1]]

In [38]:
cosine

array([[1.        , 0.40032038, 1.        ]])

In [39]:
pd.DataFrame(cosine)

     0        1    2
0  1.0  0.40032  1.0